<div class="book-move mt-5 frt" *ngFor="let profile of strIntoObj">
 <div class="container">
            <form #loginForm="ngForm">         
               <div class="row">
                 <div class="col-md-10 col-lg-7 mx-auto">                    
                        <div class="grey-box">
                            <h5 class="theme-heading text-center">Profile</h5>
                            <div class="row box">
                                <label for="inputName" class="col-sm-4 col-md-5 col-form-label">Full Name</label>
                                <div class="col-sm-8 col-md-7">
                                    <input 
                                        type="text"
                                        value="{{profile.Name}}"
                                        name="name" 
                                        class="form-control" 
                                        id="inputName" 
                                        placeholder="Name"
                                        [readonly]="true"
                                    >
                                </div>
                            </div>

                            <div class="row box">
                                <label for="inputName" class="col-sm-4 col-md-5 col-form-label">Contact</label>
                                <div class="col-sm-8 col-md-7">
                                    <input 
                                        type="text"
                                        name="phone"
                                        value="{{profile.Mobile}}"
                                        class="form-control" 
                                        id="inputNumber" 
                                        placeholder="Contact Number"
                                        [readonly]="true"
                                    >
                                </div>
                            </div>

                            <div class="row box">
                                <label for="inputName" class="col-sm-4 col-md-5 col-form-label">Email</label>
                                <div class="col-sm-8 col-md-7">
                                    <input 
                                        type="email" 
                                        name="email"
                                        value="{{profile.Email}}"
                                        class="form-control" 
                                        id="inputEmail" 
                                        placeholder="Email"
                                        email
                                        [readonly]="true"
                                    >
                                
                                </div>
                            </div>                 
                            <div class="row box">
                                <label for="inputName" class="col-sm-4 col-md-5 col-form-label">City</label>
                                <div class="col-sm-8 col-md-7">
                                    <input 
                                        type="city" 
                                        name="city"
                                        value="{{profile.City}}"
                                        class="form-control" 
                                        id="inputCity" 
                                        placeholder="City"
                                        email
                                        [readonly]="true"
                                    >
                                
                                </div>
                            </div>           
                            <div class="route-link" >
                                Change Password? <a [routerLink]="['/changepassword']">Click Here</a>
                            </div> 
        
                        </div>
                        
                    </div>
               </div>
           </form>
        </div>
   <!-- <ng-template #elseBlock><h3 style="text-align: center;margin-top: 50px;">Please Login to check your profile!</h3></ng-template> -->
</div>
