<div class="book-move mt-5 frt">
    <div class="container">
        <form class="g-3" (ngSubmit)="onSubmit()" #contactForm="ngForm">
            <div class="row">
                <div class="col-md-10 col-lg-7 mx-auto">                  
                    <div class="grey-box">
                        <h5 class="theme-heading text-center">Reset Password</h5>                  
                        <div class="row box">
                            <div class="col-sm-12 position-relative">
                                <input 
                                type="email"
                                name="email" 
                                value=""
                                class="form-control" 
                                id="inputEmail" 
                                [(ngModel)]="resetpassword.email"
                                #emailInputA="ngModel"
                                placeholder="Email"
                                required>                                
                                <div class="line">&nbsp;</div>
                                <div class="help" *ngIf="emailInputA.invalid && emailInputA.dirty">
                                    Email is required
                                </div>                                
                            </div>
                            <span style="color: red; font-size: smaller;">*Enter your registered email id</span>
                        </div>
                   
                        <button 
                            type="submit" 
                            class="btn theme-btn"
                            [disabled]="contactForm.invalid"
                        >Reset</button>
                       
                    </div>
                    
                </div>
            </div>
        </form>
    </div>
</div>

