<div class="book-move mt-5 frt">
    <div class="container">
        <form #loginForm="ngForm">

            <div class="row">
                <div class="col-md-10 col-lg-7 mx-auto">
                  
                    <div class="grey-box">
                        <h5 class="theme-heading text-center">Change Password</h5>
                        <div class="row box">
                            <div class="col-sm-12 position-relative">
                                <input 
                                type="password"
                                name="password" 
                                value="{{changepassword.password}}"
                                class="form-control" 
                                id="inputPassword" 
                                [(ngModel)]="changepassword.password"
                                #passwordInput="ngModel"
                                placeholder="New Password"
                                required
                                >
                                <div class="line">&nbsp;</div>
                                <div class="help" *ngIf="passwordInput.invalid && passwordInput.dirty">
                                    Password is required
                                </div>
                            </div>
                        </div>
                        <div class="row box">
                            <div class="col-sm-12 position-relative">
                                <input 
                                type="password"
                                name="password" 
                                value="{{changepassword.passwordnew}}"
                                class="form-control" 
                                id="inputPasswordA" 
                                [(ngModel)]="changepassword.passwordnew"
                                #passwordInputA="ngModel"
                                placeholder="Confirm Password"
                                required
                                >
                                <div class="line">&nbsp;</div>
                                <div class="help" *ngIf="passwordInputA.invalid && passwordInputA.dirty">
                                    Password is required
                                </div>
                            </div>
                        </div>
                   
                        <button 
                            type="submit" 
                            class="btn theme-btn"
                            [disabled]="loginForm.invalid"
                        >Submit</button>
                       
                    </div>
                    
                </div>
            </div>
        </form>
    </div>
</div>

