<div class="book-move mt-5 frt">
    <div class="container">
        <form class="g-3" (ngSubmit)="onSubmit()" #contactForm="ngForm">
            <div class="row">
                <div class="col-md-10 col-lg-7 mx-auto">                  
                    <div class="grey-box">
                        <h5 class="theme-heading text-center">Change Password</h5>                  
                        <div class="row box">
                            <div class="col-sm-12 position-relative">
                                <input 
                                type="password"
                                name="newpassword" 
                                value=""
                                class="form-control" 
                                id="inputPassword" 
                                [(ngModel)]="changepassword.newpassword"
                                #passwordInputA="ngModel"
                                placeholder="New Password"
                                required
                                >
                                <div class="line">&nbsp;</div>
                                <div class="help" *ngIf="passwordInputA.invalid && passwordInputA.dirty">
                                    Password is required
                                </div>
                            </div>
                        </div>
                   
                        <button 
                            type="submit" 
                            class="btn theme-btn"
                            [disabled]="contactForm.invalid"
                        >Submit</button>
                       
                    </div>
                    
                </div>
            </div>
        </form>
    </div>
</div>

