/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font-stack: 'Poppins', sans-serif !important;
$theme-color: #ba2025;

@mixin transition($for: all, $time: 250ms, $type: ease-in-out) 
{
    transition: $for $time $type;
    -moz-transition: $for $time $type;
    -webkit-transition: $for $time $type;
    -o-transition: $for $time $type;
}

@mixin box-shadow($left, $top, $blur, $color , $inset: false)
{
    @if $inset {
        box-shadow: $left $top $blur $color;
        -webkit-box-shadow: $left $top $blur $color;
        -moz-box-shadow: $left $top $blur $color;
        -o-box-shadow: $left $top $blur $color;
    } @else {
        box-shadow: $left $top $blur $color;
        -webkit-box-shadow: $left $top $blur $color;
        -moz-box-shadow: $left $top $blur $color;
        -o-box-shadow: $left $top $blur $color;
    }
}

@mixin rounded($radius)
{
    border-radius: $radius !important;
    -webkit-border-radius: $radius; 
    -moz-border-radius: $radius;
    -o-border-radius: $radius;
}

@mixin placeholder
{
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &::-moz-placeholder          {@content}
    &:-ms-input-placeholder      {@content}  
}


body{
    font-family: $font-stack;
    color: #1d1d1d;
    position: relative;
    height: 100%;
    min-height: 100vh;
}

img{
    max-width: 100%;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

.theme-heading{
    margin-bottom: 50px;
    color: $theme-color;
    font-size: 20px;
    font-weight: 600;
}

.bg-light{
    background: #f7f6fb;
}

.help {
    color: #ff7368;
    font-size: 12px;
    padding-left: 0 !important;
}

@mixin button($color: $theme-color) {
    font-size: 18.97px !important;
    font-weight: 500 !important;
    outline: none;
    padding: 12px 16px !important;
    line-height: 1 !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    @include rounded(25px);
    @include box-shadow(0, 0px, 10px, #636363);
    color: $theme-color !important;
    border: 2px solid $color !important;


    &:hover, &:active {
        background: $theme-color;
        color: #ffffff !important;
    }
}

.theme-btn{
    @include button;
}

.navbar{
    padding: 0 !important;
    @include box-shadow(0, 2px, 5px, #b1b1b1b8);
    .navbar-brand {
        outline: none;
    }
    .navbar-toggler {
        border: 0 !important;
        padding: 0 !important;
        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
        }
        &:focus{
            box-shadow: 0 0 0 0.1rem !important;
        }
    }
    .navbar-collapse {
        position: fixed;
        left: -1px;
        top: 0px;
        bottom: 0px;
        width: 0;
        background: rgb(255, 255, 255);
        height: 100% !important;
        @include transition;
        @include box-shadow(0, 0px, 10px, #636363);
        z-index: 2;
        .navbar-nav {
            margin: 15px 15px 15px;
            width: calc(100% - 30px);
        }
    }
    
    .navbar-collapse.collapse.show, 
    .navbar-collapse .collapsing {
        width: 250px;
        left: 0;
    }
    .mobile{
        color: $theme-color;
        font-size: 21px;
        font-weight: 600;
        text-decoration: none;
        img{
            width: 32px;
            margin-right: 5px;
        }
    }
    .navbar-toggle {
        border: 0;
        background: transparent;
    }
}


@keyframes ring {
    0% { transform: rotate(0); }
    1% { transform: rotate(30deg); }
    3% { transform: rotate(-28deg); }
    5% { transform: rotate(34deg); }
    7% { transform: rotate(-32deg); }
    9% { transform: rotate(30deg); }
    11% { transform: rotate(-28deg); }
    13% { transform: rotate(26deg); }
    15% { transform: rotate(-24deg); }
    17% { transform: rotate(22deg); }
    19% { transform: rotate(-20deg); }
    21% { transform: rotate(18deg); }
    23% { transform: rotate(-16deg); }
    25% { transform: rotate(14deg); }
    27% { transform: rotate(-12deg); }
    29% { transform: rotate(10deg); }
    31% { transform: rotate(-8deg); }
    33% { transform: rotate(6deg); }
    35% { transform: rotate(-4deg); }
    37% { transform: rotate(2deg); }
    39% { transform: rotate(-1deg); }
    41% { transform: rotate(1deg); }
    43% { transform: rotate(0); }
    100% { transform: rotate(0); }
  }

.book-move{
    figcaption {
        line-height: 28px;
        color: #1d1d1d;
    }
    .grey-box {
        border: 1px solid #d8d8d8;
        @include rounded(4px);
        padding: 20px 60px;
        @include box-shadow(0, 0px, 6px, #474747eb);
        @include transition;

        [class^="col-"]{
            padding: 0;
        }
        .box:not(.sumup .box) {
            border-bottom: 1px solid #ccc;
            margin: 0 15px 30px;
        }
        .col-form-label {
            line-height: normal;
            color: #7b7b7b;
            font-size: 13.98px;
            padding-bottom: 3px;
            text-transform: capitalize;
        }
        .form-control, .form-select{
            border: 0;
            background-color: transparent;
            text-align: left;
            padding: 0;
            font-size: 13.98px;
            background-position: right 0 center;
            @include rounded(0px);
        }
        input{
            @include placeholder {
                color: #ccc !important;
              }
        }
        
    }
}


.stepB{
    .grey-box{
        padding: 20px;
    }
    
}


.sumup{
    h6{
        word-break: break-word;
    }
    h5{
        font-weight: 600;
    }
    .increase {
        display: flex;
        justify-content: flex-end;
        .qty{
            font-size: 23px;
            display: block;
            margin-right: 7px;
        }
        input {
            font-size: 23px !important;
        }
        .getvalue {
            text-align: center;
            @include box-shadow(0, 0px, 4px, #47474759);
            a {
                font-size: 16px;
                font-weight: 600;
                display: block;
                padding: 4px 10px;
                cursor: pointer;
                line-height: 1;
                &:first-child{
                    margin-bottom: 2px;
                }
            }
        }
    }
    .box{
        @include box-shadow(0, 0px, 4px, #47474759);
        margin: 0 15px 30px;
        padding: 3px 3px 3px 10px;
        min-height: 56px;
        align-items: center;
        label{
            padding-bottom: 0 !important;
            display: flex;
            align-items: center;
            font-size: 16px !important;
            img{
                margin-right: 15px;
            }
        }
        [for="floatingTextarea"] {
            font-size: 13.98px !important;
            color: #7b7b7b;
            padding: 0;
        }
    }
}

.fetch-data{
    border: 1px solid #d8d8d8;
    @include rounded(4px);
    @include box-shadow(0, 0px, 6px, #474747eb);
    font-size: 13.98px;
    h6{
        font-size: 13.98px;
    }
    .box {
        display: flex;
        width: 100%;
        height: auto;
        div {
            flex: 1;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            padding: 10px 15px;
        }
        .up{
            background: #e8e8e8;
        }
        .down{
            background: #b1b1b1;
        }
        
    }
}

.pay-table{
    @include box-shadow(0, 0px, 4px, #47474759);
    padding: 15px;
    table{
        margin: 0;
    }
    tfoot{
        border-top: 1px solid #ccc !important;
        td{
            color: $theme-color;
            font-weight: 700;
        }
    }
}

/**/
@media (min-width: 768px) {
    .fetch-data{
        .box {
            flex-direction: column;
        }
    }
}

@media (max-width: 767.98px) {
    .book-move{
        .grey-box {
            padding: 20px 5px;
       }
    }
    .fetch-data{
        h4, h5{
            font-size: 16px;
        }
    }
}

@media (max-width: 360.98px){
    .navbar-brand img {
        width: 200px;
    }
}