<header>

  <button class="navbar-toggler clone-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse"  aria-expanded="false" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <nav class="navbar navbar-light bg-white">
    <div class="container">
      <div class="left-bar">
        <a class="navbar-brand" [routerLink]="['/']">
          <img alt="logo" src="assets/images/brand-logo.png">
        </a>
        <a href="tel: 1300223668" class="mobile">
          <img alt="mobile" src="assets/images/mobile.png"> 
          <span class="d-none d-sm-inline-block">1300 223 668</span></a>
      </div>
      <button type="button" class="navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" [collapse]=isCollapsed [isAnimated]="true">
        <ul class="navbar-nav" (click)="isCollapsed = !isCollapsed">
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/order-history']" >Order History</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>


