<header>

  <button class="navbar-toggler clone-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse"  aria-expanded="false" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

    <nav class="navbar navbar-light bg-white">
      <div class="container bg-white">
        <div class="left-bar">
          <a class="navbar-brand" [routerLink]="['/']">
            <img width ="200px" alt="logo" src="assets/images/cbd-moverslogo.svg">
          </a>
          <a href="tel: 1300223668" class="mobile">
            <img alt="mobile" src="assets/images/mobile.png"> 
            <span class="d-none d-sm-inline-block">1300 223 668</span></a>
        </div>
        <div class="user-name">
          <h6 class="mb-0">{{ this.sessionValueName}} </h6>
          <button type="button" id="test" class="navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
      <div class="collapse navbar-collapse" [collapse]=isCollapsed [isAnimated]="true">
        <ul class="navbar-nav" (click)="isCollapsed = !isCollapsed">
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item">
            <a class="nav-link" [routerLink]="['/']">Home</a>
          </li>
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item" *ngIf="this.sessionValueName">
            <a class="nav-link" [routerLink]="['/order-history']" >Order History</a>
          </li>
         
           
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item">           
          
              <a class="nav-link" [routerLink]="['/login']" *ngIf="sessionValueName" (click)="logout()">Logout</a>
              <a class="nav-link" [routerLink]="['/login']" *ngIf="!sessionValueName">Login</a>
          </li>

          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item" *ngIf="this.sessionValueName">
            <a class="nav-link" [routerLink]="['/profile']" >Profile</a>
          </li>
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item" *ngIf="this.sessionValueName">
            <a class="nav-link" [routerLink]="['/changepassword']" >Change Password</a>
          </li>
        </ul>
      </div>
    </nav>

</header>


